{%load static %}
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static './images/26357.jpg' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>